section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .main-content{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            color: #151717
        }
    
        h1 {
            /* background: rgb(82, 34, 208); */
            background: linear-gradient(90deg, rgba(82, 34, 208, 1) 0%, rgba(255, 97, 150, 1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            font-size: 40px;
        }
    }

    
}

@media (min-width: 1080px) {
    section {
        flex-direction: row;
        justify-content: space-between;

        .main-content{
            align-items: flex-start;
            
        h1{
            font-size:56px;
        }
    
        }

    }

    

    

}